In [1]:
#import wrds
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import datetime
from scipy import stats
import pickle
from pandas.tseries.offsets import BDay
from pandas.tseries.offsets import DateOffset

In [2]:
from keras.utils import to_categorical
from keras.models import Sequential
from keras.layers import Dense
from keras.callbacks import EarlyStopping

Using TensorFlow backend.
C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:526: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:527: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:528: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:529: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:530: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\tensorflow\python\framework\dtypes.py:535: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [48]:
feature = pd.read_csv("data\\features_11.csv",index_col=0)
target = pd.read_csv("data\\spx_target.csv",index_col=0)
target["var"]  =  target["ann_vol_30"]**2
target["vix2"]  =  target["vix"]**2
target["vrp"] = target["vix2"] - target["var"]

In [49]:
feature_ffill = feature.fillna(method='ffill')
feature_ffill.head()
target.head()

            ann_vol_30    vix         var      vix2        vrp
1996-07-01   16.109703  13.78  259.522529  189.8884 -69.634129
1996-07-02   15.997377  14.19  255.916079  201.3561 -54.559979
1996-07-03   16.010210  14.21  256.326812  201.9241 -54.402712
1996-07-05   16.008138  16.09  256.260488  258.8881   2.627612
1996-07-08   14.684351  16.42  215.630153  269.6164  53.986247

# regression

In [58]:
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
t = 30

In [79]:
x_train = feature_ffill.iloc[:1000,:]
y_train = target.iloc[:1000,-1]

In [80]:
x_test = feature_ffill.iloc[:1000+t,:]
y_test = feature_ffill.iloc[:1000+t,-1]

In [81]:
reg = LinearRegression().fit(x_train, y_train)
y_pred = reg.predict(x_test)
r2_score(y_test,y_pred)

-1220.861478290816

In [82]:
reg = Ridge(alpha=0.1).fit(x_train, y_train)
y_pred = reg.predict(x_test)
r2_score(y_test,y_pred)

-1220.856746474116

In [1]:
x=3

In [1]:
xy=12

In [ ]:
regrf = RandomForestRegressor(max_depth=3, random_state=0).fit(x_train, y_train)
y_pred = regrf.predict(x_test)
r2_score(y_test,y_pred)

# Neural Network

In [77]:
target=pd.read_csv('data/target.csv',index_col=0)
target.index=pd.to_datetime(target.index)
optionp_5=pd.read_csv('data/resultdf_5.csv',index_col=0)
optionp_5.index=pd.to_datetime(optionp_5.index)

In [78]:
optionday=optionp_5.index.unique()

In [80]:
X=optionp_5['scaled_price'].values.reshape(-1,11)
feature_5=pd.DataFrame(X,index=optionday,columns=['K'+str(i) for i in range(11)])

In [81]:
feature_5.head()

,K0,K1,K2,K3,K4,K5,K6,K7,K8,K9,K10
date,,,,,,,,,,,
1996-06-03,0.005705,0.006471,0.007610,0.009402,0.011184,0.014999,0.015815,0.012285,0.008892,0.006517,0.004495
1996-06-04,0.003995,0.005745,0.008133,0.014868,0.016391,0.011108,0.009077,0.007661,0.006291,0.005399,0.010969
1996-06-05,0.004219,0.005919,0.008230,0.011317,0.014936,0.014367,0.008606,0.007068,0.005979,0.004751,0.010481
1996-06-06,0.011627,0.004586,0.006386,0.008622,0.015602,0.008111,0.011560,0.009612,0.017048,0.006731,0.005814
1996-06-07,0.006014,0.008287,0.011512,0.015098,0.014036,0.004252,0.008458,0.007116,0.005989,0.003876,0.010332

In [82]:
XYdf=target.join(feature_5,how='left').dropna(axis=0)
# daylength=XYdf.index.unique()
# startdate=daylength[0]
# enddate=daylength[1000]

print(startdate)
print(enddate)

1996-06-03 00:00:00
1996-10-09 00:00:00

In [83]:
XYdf.head()

,vix,annual_vol,vrp,K0,K1,K2,K3,K4,K5,K6,K7,K8,K9,K10
date,,,,,,,,,,,,,,
1996-06-03,16.86,10.062299,183.009739,0.005705,0.006471,0.007610,0.009402,0.011184,0.014999,0.015815,0.012285,0.008892,0.006517,0.004495
1996-06-04,16.18,10.178271,158.195190,0.003995,0.005745,0.008133,0.014868,0.016391,0.011108,0.009077,0.007661,0.006291,0.005399,0.010969
1996-06-05,16.04,10.329438,150.584307,0.004219,0.005919,0.008230,0.011317,0.014936,0.014367,0.008606,0.007068,0.005979,0.004751,0.010481
1996-06-06,16.84,10.636130,170.458349,0.011627,0.004586,0.006386,0.008622,0.015602,0.008111,0.011560,0.009612,0.017048,0.006731,0.005814
1996-06-07,16.10,10.599811,146.854004,0.006014,0.008287,0.011512,0.015098,0.014036,0.004252,0.008458,0.007116,0.005989,0.003876,0.010332

In [84]:
ytrain=XYdf['vrp'].iloc[:900]
xtrain=XYdf.iloc[:900,3:]
yvalidate=XYdf['vrp'].iloc[900:1000]
xvalidate=XYdf.iloc[900:1000,3:]
ytest=XYdf['vrp'].iloc[1000:]
xttest=XYdf.iloc[1000:,3:]

In [85]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(xtrain.values)

print(scaler.mean_)

[0.01560971 0.01533298 0.0167024  0.01838374 0.01910858 0.01910865
 0.01843014 0.01706483 0.01584995 0.01501029 0.01663052]

In [86]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression



l2range=[10e-3,10e-2, 10e-1, 1, 10e2, 10e3, 10e4]
for alpha in l2range:
    regr = MLPRegressor(activation='relu',solver='adam',hidden_layer_sizes=(11,),alpha=alpha,verbose=False).\
    fit(scaler.transform(xtrain.values), ytrain.values)
    print(alpha,regr.score(scaler.transform(xvalidate.values), yvalidate.values))

C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

0.01 -0.341479585602132

C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

0.1 -0.3156013228157646

C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

1.0 -0.3116029475083175

C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

1 -0.1957439994858099

C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

1000.0 -0.6942106290198868

C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

10000.0 -0.13442900181894624
100000.0 -0.0012255133602763202

C:\Users\jiaxu\Anaconda3\envs\py36\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

In [87]:
regr.n_layers_

3